{% extends 'Sellerbase.html' %}

{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>     
      {% block content%}
      
        <div class="centeredDiv headingDiv">
         <span class="headingSpan"> Seller Dashboard </span>       
         </div>
            <br/>
           
            <h4 class="ui dividing header headLabel" style="padding-left:20px;">Seller Profile</h4>
         
         
            <div style="display:flex;" class="ui segment">
                    <div>
                    <label class="headingSpan">Name</label> :<span class="headingSpan"> {{seller_name}} </span>
                    </div>
                
            </div>       
          <div class="" style="display:flex;">                 
             {% comment %} <button class="ui small button" onclick="GoToPage('AddProducts')" style="">Add Product in My Store</button> {% endcomment %}            
             <div  class="ui segment" style="width:40%;">
               <h4 class="ui dividing header headLabel" style="padding-left:20px;">Your Listed Shops/Businesses</h4>
                   <button class="ui primary button" onclick="GoToPage('/AddStore/')">Add New Store</button>
             {% if stores %}
             {% for store in stores%}
                    <div class="ui segment" style="padding:25px;">
                    <label class="headingSpan">Store Name</label> :<span class="headingSpan"> {{store}} </span>
                 
                    </div>
                   
             {% endfor %}
             {% else %}             
             <div class="ui segment">
                    <label class="headingSpan">You have not listed your Store yet.</label> 
                    <button onclick="OpenModel()" class="ui primary button">Add Store</button>
             </div>
             {% endif %}
               <div class="centeredDiv">                                  
         
            </div>
            </div>                
       {% comment %} <div class="ui two wide segment">
          
       </div> {% endcomment %}
         
          <div class="ui segment">
                 <label class="ui dividing header headLabel" style="padding-left:20px;">Your Listed Products</label>
                    <button class="ui green button" onclick="GoToPage('/AddProducts')">Add Product</button>
                  <br/>
                {% if products%}
                <div class="verticalFlex">
                {% for product in products%}  
                    <div class="ui segment">
                    <label class="headingSpan">{{product.name}}</label> 
                    {% comment %} <br/>
                    <label>{{product.slug_field}}</label> {% endcomment %}
                    {% comment %} :<span class="headingSpan"> {{store}} </span> {% endcomment %}
                    <button class="ui button" style="float:right;" onclick="GoToPage('/AddProducts?product={{product.slug_field}}')">Edit Info</button>
                          
                    </div>      
                   
                {% endfor %}
                </div>
                {% else %}
                    <div class="ui segment">
                    <label class="headingSpan">No Products Listed as of now</label> 
                    <label class="headingSpan">Add Products to your Store</label> 
                    {% comment %} <button class="ui primary button">Add Store</button> {% endcomment %}
                </div>

              {% endif %}

            </div>
             </div>   
          
      {% endblock %}
    </body>
</html>