<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

</style>
</head>
<body>

<div style="display:flex;margin-left:40px;">


{% if user.is_authenticated %}
<div class="dropdown">
  <button class="dropbtn">{{request.session.user_name}}'s vcnity
  <i style="background:transparent!Important;"class="bell icon transparentIcon"></i></button>
  <div class="dropdown-content">
  <div class="ui vertical menu">
   
    <a class="" href="#">Link 1
    <span class="ui teal left pointing label">1</span></a>
    <a class="" href="#">Link 2</a>
    <a class="" onclick="Logout()">Logout</a>
    <a class="" onclick="Logout('/login')">Switch to a different account</a>   
    </div>
  </div>
</div>
{% else %}
  <div class="dropdown">
  <button onclick="GoToPage('/login')" class="dropbtn">Login / Signup </button>
  <div class="dropdown-content">

  </div>
</div>
{% endif %}
</div>
</body>

</html>
